@import url(reset.css);

/* Slider */
#slider {
    position: relative;
    max-height: 550px;
    margin: 0px;
    background: #333;
    list-style-type: none;
    overflow: hidden;
}

#slider .slider__container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#slider .slide {
  display: none;
}

#slider .slide.active {
  display: block;
}

#slider img.img-carrousel {
    width: 100%;
}

/* Botones Next & previous */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posicion "next" a la derecha */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover cambio color */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider__thumbs {
  text-align: center;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Animacion FADEIN */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Animacion LEFT */
.left {
  position: relative;
  -webkit-animation-name: left;
  -webkit-animation-duration: 1.5s;
  animation-name: left;
  animation-duration: 1.5s;
}

@-webkit-keyframes left {
  from {
    opacity: 0;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 0%;
  }
}

@keyframes left {
  from {
    opacity: 0;
    left: 100%;
  }

  to {
    opacity: 1;
    left: 0%;
  }
}

/* Animacion TOP */
.top {
  position: relative;
  -webkit-animation-name: top;
  -webkit-animation-duration: 1.5s;
  animation-name: top;
  animation-duration: 1.5s;
}

@-webkit-keyframes top {
  from {
    opacity: 0;
    bottom: : -600px;
  }

  to {
    opacity: 1;
    top: 0%;
  }
}

@keyframes top {
  from {
    opacity: 0;
    top: -600px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

/* Animacion ZOOM */
.zoom {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 1.5s;
  animation-name: zoom;
  animation-duration: 1.5s;
}

@-webkit-keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
